<table>
  <tbody>
    <tr>
        <td><a href="accounts.php">Accounts</a></td>
        <td><a href="recurring.php">Recurring Transactions</a></td>
        <td><a href="single.php">Single Transactions</a></td>
        <td><a href="report.php">Account Balance Report</a></td>
    </tr>
  <tbody>
</table>
